{% load static %}

<!-- partials/tech_icons.html -->
<i class="fab fa-java text-6xl text-orange-500"></i>
<i class="fab fa-python text-6xl text-blue-500"></i>
<img src="{% static 'icons/springboot.svg' %}" alt="Spring Boot" class="h-14 w-auto">
<img src="{% static 'icons/django.svg' %}" alt="Django" class="h-14 w-auto">
<img src="{% static 'icons/postgresql.svg' %}" alt="PostgreSQL" class="h-14 w-auto">
<img src="{% static 'icons/mysql.svg' %}" alt="MySQL" class="h-14 w-auto">
<i class="fab fa-html5 text-6xl text-orange-600"></i>
<i class="fab fa-angular text-6xl text-red-600"></i>
<i class="fab fa-react text-6xl text-sky-500"></i>
<i class="fab fa-korvue text-6xl text-violet-500" title="Kotlin"></i>
<i class="fab fa-git-alt text-6xl text-orange-500"></i>
<i class="fab fa-github text-6xl text-gray-300"></i>
<i class="fas fa-cloud text-6xl text-indigo-400" title="Cloud Engineering"></i>
<i class="fas fa-server text-6xl text-cyan-400" title="REST API"></i>
<i class="fab fa-js text-6xl text-yellow-400"></i>
<i class="fab fa-typescript text-6xl text-blue-500"></i>
<i class="fab fa-docker text-6xl text-blue-400"></i>
<img src="{% static 'icons/solana.svg' %}" alt="Solana" class="h-14 w-auto">
<img src="{% static 'icons/ethereum.svg' %}" alt="Ethereum" class="h-14 w-auto">
<i class="fab fa-css3-alt text-6xl text-blue-500"></i>
<i class="fab fa-bootstrap text-6xl text-purple-600"></i>
<img src="{% static 'icons/firebase.svg' %}" alt="Firebase" class="h-14 w-auto">
<i class="fab fa-aws text-6xl text-orange-500"></i>
<img src="{% static 'icons/canva.svg' %}" alt="Canva" class="h-14 w-auto">
<i class="fab fa-tailwindcss text-6xl text-cyan-400"></i>
